html {
    width: 100%;
    height: 100%;
    background: teal;
}
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: verdana, helvetica, sans-serif;
        font-size: 14px;
        color: white;
    }
        .open-gallery {
            background: rgba(255, 255, 255, 0.54) none repeat scroll 0 0;
            border: 0;
            border-radius: 2px;
            box-sizing: content-box;
            margin: 16px;
            padding: 8px;
            font-family: inherit;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.54);
            cursor: pointer;
            -webkit-transition-duration: .25s;
            transition-duration: .25s;
        }
        .open-gallery:hover {
            background: rgba(255, 255, 255, .8);
            color: rgba(0, 0, 0, 0.8);
        }
        span {
            margin: 16px 0;
        }
        .pics-gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 16px;
        }
        .pics-gallery img {
            margin: 8px;
        }
